@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

main#index{
    background-image: url("imagens/fundo-madeira.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*Não use height para uma parte toda se não ela some com as outras, use min-height para as outras aparecerem*/
    min-height: 100vh;
}

/*Tirando a Barra de rolagem (scrollbar) do arquivo, mas ainda sim conseguindo rolar*/
body::-webkit-scrollbar { display: none; }



/*Container do celular*/
div#cel, #framecel {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

div#cel {
    min-width: 460px;
    min-height: 620px;
    overflow: hidden;
}

div#cel img {
    width: 100%;
    height: 100%;
    position: relative;
}

iframe#framecel {
    min-width: 400px;
    min-height: 706px;
    margin-left: 0;
    margin-top: -2px;
    /*border: 5px solid white;*/
    border-radius: 3px;
    left: 50%;
    top: 50%;

}

/*lista de redes sociais*/

ul {
    /*Colocanda a lista na esquerda*/
    position: fixed;
    right: 0; /*Fixa o conteúdo pela direita*/
    /*Retira os marcadores dos itens da lista*/
    list-style-type: none;

}

ul img {
    border-radius: 50%;
    height: 7vh;
    margin: 15px;

}

/*Animação dos botões*/
ul img:hover {
    border:2px solid rgba(255, 255, 255, 0.64);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.63);
    transition: transform .3s;
}

/*Cabeçalhos de cada pagina da rede social*/
footer {
    background-color: red;
    text-align: center;
    padding: 40px;
}

footer a {
    font-size: 30px;
    color: white;
    text-decoration: none;
}

main img.imagem-cel {
    width: 100%;
}